.section {
    padding: 20px;
  }
  
  .section h2 {
    color: #512da8;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .center-form {
    display: flex;
    justify-content: center;
  }
  
  .settings-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 300px;
  }
  
  .settings-form label {
    color: #512da8;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 7px;
  }
  
  .settings-form input,
  .settings-form select {
    width: 100%;
    padding: 8px;
    border: 2px solid #512da8;
    border-radius: 10px;
    font-size: 14px;
    background: transparent;
    transition: border-color 0.3s ease;
  }
  
  .settings-form input:focus,
  .settings-form select:focus {
    border-color: #673ab7;
  }
  
  .settings-form button {
    background: #512da8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    align-self: center;
    margin-top: 20px;
  }
  
  .settings-form button:hover {
    background: #673ab7;
  }